# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Binaries
packages/
LitePlacer/bin/
LitePlacer/obj/


# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.suo
*.suo

*.lock

\.vs/LitePlacer/v15/sqlite3/

\.vs/LitePlacer/v15/Server/sqlite3/

*.ide
