<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WindowsFormsApplication1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <WindowsFormsApplication1.Properties.Settings>
            <setting name="CNC_SerialPort" serializeAs="String">
                <value>COM3</value>
            </setting>
            <setting name="DownCam_XmmPerPixel" serializeAs="String">
                <value>20.5</value>
            </setting>
            <setting name="DownCam_YmmPerPixel" serializeAs="String">
                <value>20.5</value>
            </setting>
            <setting name="Downcam_OpticalHomingThreshold" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="DownCam_FiducialThreshold" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="TinyG_sys" serializeAs="String">
                <value />
            </setting>
            <setting name="TinyG_x" serializeAs="String">
                <value />
            </setting>
            <setting name="TinyG_y" serializeAs="String">
                <value />
            </setting>
            <setting name="TinyG_z" serializeAs="String">
                <value />
            </setting>
            <setting name="TinyG_a" serializeAs="String">
                <value />
            </setting>
            <setting name="TinyG_m1" serializeAs="String">
                <value />
            </setting>
            <setting name="TinyG_m2" serializeAs="String">
                <value />
            </setting>
            <setting name="TinyG_m3" serializeAs="String">
                <value />
            </setting>
            <setting name="TinyG_m4" serializeAs="String">
                <value />
            </setting>
            <setting name="TinyG_settings_saved" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DownCam_index" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="General_JigOffsetX" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="General_JigOffsetY" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="General_ParkX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="General_ParkY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="General_MediumSpeed" serializeAs="String">
                <value>50000</value>
            </setting>
            <setting name="DownCam_Zoomfactor" serializeAs="String">
                <value>1.5</value>
            </setting>
            <setting name="DownCam_Zoom" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="General_PickupCenterX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="General_PickupCenterY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UpCam_index" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="UpCam_XmmPerPixel" serializeAs="String">
                <value>20.5</value>
            </setting>
            <setting name="UpCam_YmmPerPixel" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UpCam_Zoom" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UpCam_Zoomfactor" serializeAs="String">
                <value>1.5</value>
            </setting>
            <setting name="UpCam_NozzleThreshold" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="UpCam_PositionX" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="UpCam_PositionY" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="DownCam_NozzleOffsetX" serializeAs="String">
                <value>-46</value>
            </setting>
            <setting name="DownCam_NozzleOffsetY" serializeAs="String">
                <value>-5</value>
            </setting>
            <setting name="UpCam_Mirror" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="General_MachineSizeX" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="General_MachineSizeY" serializeAs="String">
                <value>340</value>
            </setting>
            <setting name="General_ProbingBackOff" serializeAs="String">
                <value>0.2</value>
            </setting>
            <setting name="General_ZtoPCB" serializeAs="String">
                <value>0</value>
            </setting>
        </WindowsFormsApplication1.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
