<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="LitePlacer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="WindowsFormsApplication1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <LitePlacer.Properties.Settings>
            <setting name="CNC_SerialPort" serializeAs="String">
                <value>COM3</value>
            </setting>
            <setting name="DownCam_XmmPerPixel" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="DownCam_YmmPerPixel" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="TinyG_sys" serializeAs="String">
                <value />
            </setting>
            <setting name="TinyG_x" serializeAs="String">
                <value />
            </setting>
            <setting name="TinyG_y" serializeAs="String">
                <value />
            </setting>
            <setting name="TinyG_z" serializeAs="String">
                <value />
            </setting>
            <setting name="TinyG_a" serializeAs="String">
                <value />
            </setting>
            <setting name="TinyG_m1" serializeAs="String">
                <value />
            </setting>
            <setting name="TinyG_m2" serializeAs="String">
                <value />
            </setting>
            <setting name="TinyG_m3" serializeAs="String">
                <value />
            </setting>
            <setting name="TinyG_m4" serializeAs="String">
                <value />
            </setting>
            <setting name="TinyG_settings_saved" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DownCam_index" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="General_JigOffsetX" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="General_JigOffsetY" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="General_ParkX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="General_ParkY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="General_MediumSpeed" serializeAs="String">
                <value>50000</value>
            </setting>
            <setting name="DownCam_Zoomfactor" serializeAs="String">
                <value>1.5</value>
            </setting>
            <setting name="DownCam_Zoom" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="General_PickupCenterX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="General_PickupCenterY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UpCam_index" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="UpCam_XmmPerPixel" serializeAs="String">
                <value>0.05</value>
            </setting>
            <setting name="UpCam_YmmPerPixel" serializeAs="String">
                <value>0.05</value>
            </setting>
            <setting name="UpCam_Zoom" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UpCam_Zoomfactor" serializeAs="String">
                <value>1.5</value>
            </setting>
            <setting name="UpCam_PositionX" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="UpCam_PositionY" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="DownCam_NeedleOffsetX" serializeAs="String">
                <value>75</value>
            </setting>
            <setting name="DownCam_NeedleOffsetY" serializeAs="String">
                <value>29</value>
            </setting>
            <setting name="General_MachineSizeX" serializeAs="String">
                <value>590</value>
            </setting>
            <setting name="General_MachineSizeY" serializeAs="String">
                <value>370</value>
            </setting>
            <setting name="General_ProbingBackOff" serializeAs="String">
                <value>0.2</value>
            </setting>
            <setting name="General_ZtoPCB" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CNC_ZspeedMax" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="CNC_AspeedMax" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="General_PickupVacuumTime" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="General_PickupReleaseTime" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="DownCam_MeasurementDelay" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="UpCam_MeasurementDelay" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="CNC_SlackCompensation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="General_Mark1X" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="General_Mark1Y" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="General_Mark1Name" serializeAs="String">
                <value>Mark1</value>
            </setting>
            <setting name="General_Mark2X" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="General_Mark2Y" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="General_Mark2Name" serializeAs="String">
                <value>Mark2</value>
            </setting>
            <setting name="General_Mark3X" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="General_Mark3Y" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="General_Mark3Name" serializeAs="String">
                <value>Mark3</value>
            </setting>
            <setting name="General_Mark4X" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="General_Mark4Y" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="General_Mark4Name" serializeAs="String">
                <value>Mark4</value>
            </setting>
            <setting name="General_Mark5X" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="General_Mark5Y" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="General_Mark5Name" serializeAs="String">
                <value>Mark5</value>
            </setting>
            <setting name="General_Mark6X" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="General_Mark6Y" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="General_Mark6Name" serializeAs="String">
                <value>Mark6</value>
            </setting>
            <setting name="Downcam_InvertedHomeMark" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CNC_SmallMovementSpeed" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="Placement_UpdateJobGridAtRuntime" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DownCam_DrawTicks" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CNC_SquareCorrection" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="General_ZTestTravel" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="General_UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="General_ShadeGuard_mm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Panel_XFirstOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Panel_YFirstOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Panel_XRepeats" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Panel_YRepeats" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Panel_XIncrement" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Panel_YIncrement" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Panel_UseBoardFids" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cameras_RobustSwitch" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DownCam_SnapshotColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="UpCam_SnapshotColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="CNC_CtlrJogSpeed" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="CNC_NormalJogSpeed" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="CNC_AltJogSpeed" serializeAs="String">
                <value>4000</value>
            </setting>
            <setting name="CNC_SlackCompensationA" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Placement_Depth" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Placement_OmitNeedleCalibration" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Placement_SkipMeasurements" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cameras_KeepActive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CNC_EnableNumPadJog" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CNC_EnableMouseWheelJog" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="General_CheckForUpdates" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="General_MuteLogging" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UpcamMoniker" serializeAs="String">
                <value />
            </setting>
            <setting name="DowncamMoniker" serializeAs="String">
                <value />
            </setting>
        </LitePlacer.Properties.Settings>
        <WindowsFormsApplication1.Properties.Settings>
            <setting name="CNC_SerialPort" serializeAs="String">
                <value>COM3</value>
            </setting>
            <setting name="DownCam_XmmPerPixel" serializeAs="String">
                <value>20.5</value>
            </setting>
            <setting name="DownCam_YmmPerPixel" serializeAs="String">
                <value>20.5</value>
            </setting>
            <setting name="Downcam_OpticalHomingThreshold" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="DownCam_FiducialThreshold" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="TinyG_sys" serializeAs="String">
                <value />
            </setting>
            <setting name="TinyG_x" serializeAs="String">
                <value />
            </setting>
            <setting name="TinyG_y" serializeAs="String">
                <value />
            </setting>
            <setting name="TinyG_z" serializeAs="String">
                <value />
            </setting>
            <setting name="TinyG_a" serializeAs="String">
                <value />
            </setting>
            <setting name="TinyG_m1" serializeAs="String">
                <value />
            </setting>
            <setting name="TinyG_m2" serializeAs="String">
                <value />
            </setting>
            <setting name="TinyG_m3" serializeAs="String">
                <value />
            </setting>
            <setting name="TinyG_m4" serializeAs="String">
                <value />
            </setting>
            <setting name="TinyG_settings_saved" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DownCam_index" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="General_JigOffsetX" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="General_JigOffsetY" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="General_ParkX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="General_ParkY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="General_MediumSpeed" serializeAs="String">
                <value>50000</value>
            </setting>
            <setting name="DownCam_Zoomfactor" serializeAs="String">
                <value>1.5</value>
            </setting>
            <setting name="DownCam_Zoom" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="General_PickupCenterX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="General_PickupCenterY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UpCam_index" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="UpCam_XmmPerPixel" serializeAs="String">
                <value>20.5</value>
            </setting>
            <setting name="UpCam_YmmPerPixel" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UpCam_Zoom" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UpCam_Zoomfactor" serializeAs="String">
                <value>1.5</value>
            </setting>
            <setting name="UpCam_NeedleThreshold" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="UpCam_PositionX" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="UpCam_PositionY" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="DownCam_NeedleOffsetX" serializeAs="String">
                <value>-46</value>
            </setting>
            <setting name="DownCam_NeedleOffsetY" serializeAs="String">
                <value>-5</value>
            </setting>
            <setting name="UpCam_Mirror" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="General_MachineSizeX" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="General_MachineSizeY" serializeAs="String">
                <value>340</value>
            </setting>
            <setting name="General_ProbingBackOff" serializeAs="String">
                <value>0.2</value>
            </setting>
            <setting name="General_ZtoPCB" serializeAs="String">
                <value>0</value>
            </setting>
        </WindowsFormsApplication1.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
